* {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: 'Roboto', sans-serif;
}

.header {
    margin: 4em 10em 1em 10em;
}

.header h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    display: inline-block;
    padding-left: 1em;
    color: #000;
}
#logo {
    height: 2.4em;
    float: left;
    padding-top: 0.2em;
    display: inline-block;
}

#accent-strip {
    margin: 0.5em 0 0 10em;
    height: 0.3em;
    width: 22em;
    background-color: #03a9f4;
}

footer {
    background-color: #03a9f4;
    margin: 8em 0 0 0;
    padding: 2em 10em 3em 10em;
}

/*---- Post ----*/
.time-line {
    margin: 4em 10em 0 10em;
    display: flex;
    flex-flow: row wrap;
}

.post {
    margin: 1em;
}

@media (max-width: 1080px) {
}

.title-bar {
    font-size: 1.2em;
    margin: .3em;
    /*color: gray;*/
}

.post-number {
    float: right;
}

.meta-info label {
    font-size: 1.6em;
}

.content {
}

.content img, .content video {
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.content audio {
    border-radius: 3em;
    width: 720px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.text {
    margin: .3em;
    max-width: 720px;
}

.text label{
    font-size: 1.4em;
    font-weight: lighter;
}
