html, body {
    height: 100%;
}

.header {
    margin: 4em 5em 1em 5em;
}

.header h1 {
    text-transform: uppercase;
    margin: 0;
    width: auto;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
}

#accent-strip {
    margin: 0.5em 0 0 6em;
    height: 0.3em;
    width: 13em;
    background-color: #00538c;
}
<<<<<<< HEAD
.date-box {
    width: 15%;
    height: 400px;
    border-right: 1px solid;
    float: left;
}

=======

/*---- Post ----*/
.time-line {
    margin-top: 5em;
}

.content img {
}

img.preview {
    width: 50em;
    border-radius: 0.8em;
    object-fit: none;
}
>>>>>>> 97a24b14963b727dc2cc6c5ded715f4532390a0d
